[tool.poetry]
name = "inquirer"
version = "2.9.2"
description = "Collection of common interactive command line user interfaces, based on Inquirer.js"
authors = ["Miguel Ángel García <miguelangel.garcia@gmail.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/magmax/python-inquirer"
repository = "https://github.com/magmax/python-inquirer"
documentation = "https://magmax.org/python-inquirer"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: User Interfaces",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
]

[tool.poetry.dependencies]
python = ">=3.7"
blessed = ">=1.19.0"
readchar = ">=2.0.1"
python-editor = ">=1.0.4"

[tool.poetry.dev-dependencies]
pexpect = ">=4.8.0"
Sphinx = ">=4.3.2"
sphinx-autobuild = ">=2021.3.14"
furo = ">=2021.11.23"
flake8 = ">=4.0.1"
flake8-docstrings = ">=1.6.0"
flake8-rst-docstrings = ">=0.2.5"
pre-commit-hooks = ">=4.1.0"

[tool.coverage.paths]
source = ["src", "*/site-packages"]
tests = ["tests", "*/tests"]

[tool.coverage.run]
branch = true
source = ["inquirer", "tests"]

[tool.coverage.report]
show_missing = true
fail_under = 95

[tool.isort]
profile = "black"
force_single_line = true
lines_after_imports = 2

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
